//banner
.banner{
    width: 100%;;
}
.banner-img{
    background-image: url(../img/banner.png);
    height: 870px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.banner-content{
    margin-top: 100px;
}
.banner-word-h1{
    font-size: 60px;
}
.banner-word-button{
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 20px 100px;
    white-space: nowrap;
}
@media (max-width:767px) {
    .banner{
        width: 100%;
        margin-bottom: 60px;
    }
}

//中間八格的區塊
.info-all{
    width: 100%;
}
.info{
    margin: 0 auto;
    display: flex;
}
.info-odd{
    display: flex;
    flex-direction: row-reverse;
}
.infoBottom h6{
    margin-bottom: 52px;
}
.infoBottom button{
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 13px 0;
    background: transparent;
}
.infoBottom{
    margin-bottom: 60px;
}
@media (max-width:767px){
    .info{
        display: block;
    }
}

//中下方灰色區塊
.gray{
    background-color: #E0E0E0;
    padding: 40px 0;
    width: 100%;
    margin-bottom: 60px;
}
.gray-word{
    background-color: #E0E0E0;
    h5{
        font-weight: bolder;
    }
}

//footer上面的介紹
.bottle-recycling{
    margin-bottom: 60px;
}

