//header
.manu{
    margin: 20px 0;
    &-list{
        margin: 0 16px;
    }
}
@media (max-width:767px) {
    .header{
        width: 100%;
        margin: 0 auto;
    }
    .manu-list p{
        display: none;
    }
}
//header下面那一排
.header-nav{
    background-color: #916000;
    width: 100%;
    height: 0 auto;
    padding: 14px 0;
    margin-bottom: 80px;
}
.header-navbar{
    font-weight: bolder;
    list-style: none;
}
.header-navbar li{
    padding-right: 28px;
}
.header-navbar li a{
    color: #FFFFFF;
}